* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Interlock;
  src: url(./fonts/Ed\ Interlock.otf);
}  
@font-face {
  font-family: Brush;
  src: url(./fonts/Ed\ Brush.ttf);
}

button {
  font-family: Interlock;
  border-radius:2em;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(96,225,60,1) 0%, rgba(215,223,114,1) 100%);
}
